html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(127, 193, 255) !important;
}

.card-center-everything{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-card{
    width: 	30rem;
}

.quiz-answer:hover{
    cursor: pointer;
    transition: ease-in 150ms;
    border: solid 1px rgb(124, 124, 124);
    background-color: rgb(127,193,255);
}

.bg-success, .bg-danger{
    color: white;}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px;
    transition: ease-in-out 150ms;
}

.explanation-card{
    background-color: white;
    width: 33rem;
    height: 24rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explanation-image{
    width: 30rem;
    height: 15rem;
    object-fit: cover;
    margin-top: 1rem;
}

.card-question{
    height: 2.5rem;
    text-align: center;
}

.btn-close{
    transition: ease-in-out 150ms;
}

.next-question-btn{
    width: 96%;
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
}

.explanation{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.hide{
    display: none;
}

.card-answer-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-title{
    margin-bottom: 1rem;
}

.answer-text{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

.finish{
    text-align: center;
    height: 15rem;
}

.finish-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.finish h5{
    padding-bottom: 1rem;
}

.finish-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.disable-div {
    pointer-events: none;
}

.info-btn{
    width: 2rem;
    height: 2rem;
    transition: ease-in-out 150ms;
    border-radius: 100%;
    cursor: pointer;
}

.info-btn:hover{
    background-color: rgb(212, 212, 212);
}

.info-btn img{
    width: 2rem;
}


@media (max-width: 576px) {
    .card{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .card-question{
        font-size: 1.1rem;
    }

    .card-body{
        font-size: 0.9rem;
    }
}

@media (max-width: 456px) {
    .card-question{
        font-size: 1rem;
    }

    .answer-text{
        font-size: 0.9rem;
    }

    .card-body{
        font-size: 0.8rem;
    }
}

@media (max-width: 455px) {
    .card-question{
        font-size: 0.9rem;
    }

    .card-body{
        font-size: 0.9rem;
    }
}

@media (max-width: 380px) {
    .card-question{
        font-size: 0.85rem;
    }

    .info-btn{
        width: 1rem;
    }

    .info-btn img{
        width: 1rem;
    }

    .answer-text{
        font-size: 0.9rem;
    }

    .explanation-card{
        width: 22rem;
    }

    .card-body{
        width: 22rem;
    }

}


@media (max-width: 992px) {

}

@media (max-width: 1200px) { 

}


