html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media (max-width: 368px) {

}

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}


@media (max-width: 1200px) { 

}


